* {
  box-sizing: border-box;
}

.splasScreen {
  display: flex;
  align-items: center;
  border-radius: 40px;
  background: #ffffff;
  padding: 339px 107px 339px 108px;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .frame2085660290 {
    width: 160px;
    height: 134px;
  }
}
