* {
  box-sizing: border-box;
}

.desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  width: 1440px;
  height: 924px;
  overflow: hidden;

  .text {
    flex-shrink: 0;
    align-self: stretch;
    width: 84px;
    height: 44px;
  }

  .union {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
  }

  .logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 4px;
    padding: 16px 56px;
    width: 1440px;
  }

  .content {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    padding: 24px 56px;

    .left {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      border-radius: 44px;
      background: var(--Secondary, #f2f3f7);
      padding: 40px;
      row-gap: 32px;

      .text2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 16px;

        .welcomeBack {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 40px;
          letter-spacing: -1.08px;
          color: #0a0a0a;
          font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 36px;
        }

        .signInToContinueMana {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 22px;
          letter-spacing: -0.32px;
          color: var(--Secondary, #626c77);
          font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 24px;

        .hiPawzlyCom {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: -0.48px;
          color: var(--Primary, #1d2023);
          font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .box {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
        }

        .mail {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }

        .input {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .email {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 24px;
            letter-spacing: -0.16px;
            color: var(--Primary, #1d2023);
            font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }

          .frame2131329763 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--Stroke, #bcc3d080);
            border-radius: 16px;
            background: var(--Primary, #ffffff);
            padding: 11px;
          }
        }

        .input2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .frame2131329797 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;

            .password {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: -0.16px;
              color: var(--Primary, #1d2023);
              font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .forgot {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: -0.16px;
              color: var(--Primary-Link, #0070e5);
              font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }

          .frame2131329796 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 32px;
            border: 1px solid var(--Stroke, #bcc3d080);
            border-radius: 16px;
            background: var(--Primary, #ffffff);
            padding: 11px;

            .frame21313297632 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              column-gap: 8px;
            }
          }
        }

        .frame2131329798 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 16px;

          .frame98 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            column-gap: 8px;
            border-radius: 16px;
            background: var(--Active, #007cff);
            padding: 12px 20px;

            .continue {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: -0.16px;
              color: var(--Inverted, #fafafa);
              font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }
          }

          .byContinuingYouAgree3 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 20px;
            letter-spacing: -0.28px;
            color: #000000;
            font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;

            .byContinuingYouAgree {
              line-height: 20px;
              letter-spacing: -0.28px;
              color: var(--Secondary, #626c77);
              font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .byContinuingYouAgree2 {
              line-height: 20px;
              letter-spacing: -0.28px;
              color: var(--Primary-Link, #0070e5);
              font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }
      }
    }

    .img {
      display: flex;
      flex-grow: 1;
      align-items: center;
      border-radius: 44px;
      padding-right: 1px;
      overflow: hidden;

      .image6 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        margin-left: -1px;
        padding: 42px 52px 42px 40px;
        background-image: url(../image/mj8b7au7-lzzoobj.png);
        background-position: -303px 0px;
        background-size: 180.52% 100%;
        background-repeat: no-repeat;

        .logo2 {
          display: inline-flex;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          margin-right: 440px;
        }

        .text3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 480px;
          row-gap: 20px;

          .yourPetSWorldMadeSim {
            flex-shrink: 0;
            align-self: stretch;
            width: 572px;
            line-height: 58px;
            letter-spacing: -1.44px;
            color: #ffffff;
            font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 48px;
          }

          .createAFreeAccountTo {
            flex-shrink: 0;
            opacity: 0.8;
            width: 529px;
            line-height: 28px;
            letter-spacing: -0.4px;
            color: #ffffff;
            font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }
        }
      }
    }
  }
}
