* {
  box-sizing: border-box;
}

.profileAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 26px;
  background: var(--Primary-Elevate, #dcdfe6);
  width: 375px;
  height: 812px;
  overflow: hidden;

  .box {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  .statusBarNavHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 0px 0px 24px 24px;
    background: var(--Primary, #ffffff);

    .aIos {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      z-index: 2;
      padding: 13px 13px 11px 28px;

      .a941 {
        line-height: 20px;
        letter-spacing: -0.2px;
        color: var(--Icons-Light-Primary, #000000);
        font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 700;
      }

      .pinRight {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 5px;
        margin-top: 4px;
        overflow: hidden;

        .mobileSignal {
          flex-shrink: 0;
          width: 17px;
          height: 11px;
        }

        .wifi {
          flex-shrink: 0;
          width: 15px;
          height: 11px;
        }

        .battery {
          flex-shrink: 0;
          width: 25px;
          height: 12px;
        }
      }
    }

    .iconDividerText {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
      z-index: 1;
      border-radius: 0px 0px 8px 8px;
      padding: 23px 66px 11px 20px;
      width: 375px;

      .chevronLeft {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 14px;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 38px;
        overflow: hidden;
      }

      .text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;

        .title {
          flex-shrink: 0;
          align-self: stretch;
          text-align: center;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Primary, #1d2023);
          font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
          font-weight: 600;
        }

        .body {
          flex-shrink: 0;
          align-self: stretch;
          text-align: center;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Secondary, #626c77);
          font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }
  }

  .content2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding-top: 8px;

    .wrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      border-radius: 24px 24px 0px 0px;
      background: var(--Background-Primary-Elevated, #ffffff);
      height: 683px;
      overflow: hidden;

      .content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        background: var(--Primary, #ffffff);
        padding: 20px 20px 24px;
        width: 375px;
        height: 669px;

        .layout {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          padding: 6px 0px 6px 20px;
          width: 375px;
          overflow: hidden;

          .contentTabsButton {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 4px;
            border-radius: 12px;
            background: var(--Controls-Secondary-Active, #1d2023);
            padding: 6px 12px;

            .text2 {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Text-Inverted, #fafafa);
              font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 600;
            }
          }

          .text3 {
            flex-shrink: 0;
            padding: 6px 12px;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Text-Primary, #1d2023);
            font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }

        .contentContainer {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          margin-right: -20px;
          margin-left: -20px;
          background: var(--Primary, #ffffff);
          padding: 12px 20px 24px;
          row-gap: 24px;

          .profileImage {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 20px;

            .imageFrame {
              position: relative;
              flex-shrink: 0;
              width: 162px;
              height: 162px;

              .ellipseOutline {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.88;
                border-radius: 50%;
                background: var(--Grey-Grey-150, #eceff2);
                width: 162px;
                height: 162px;
              }

              .photoPlaceimageinsid {
                position: absolute;
                top: 17px;
                left: 17px;
                border-radius: 50%;
                width: 128px;
                height: 128px;
              }
            }

            .textContainer {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              padding-bottom: 4px;
              row-gap: 6px;

              .titleButton {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                column-gap: 12px;

                .title2 {
                  flex-shrink: 0;
                  line-height: 30px;
                  letter-spacing: 0;
                  color: var(--Grey-Grey-800, #39434f);
                  font-family: "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 22px;
                  font-weight: 600;
                }

                .primaryButton {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  column-gap: 6px;
                  border: 1px solid var(--Blue-Blue-500, #1b85f3);
                  border-radius: 14px;
                  background: var(--Grey-White, #ffffff);
                  padding: 8px;

                  .edit {
                    flex-shrink: 0;
                    width: 20px;
                    height: 20px;
                    overflow: hidden;
                  }
                }
              }

              .body3 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                column-gap: 6px;

                .body1 {
                  flex-shrink: 0;
                  line-height: 20px;
                  letter-spacing: 0;
                  color: var(--Grey-Grey-600, #808b9a);
                  font-family: "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }

                .body2Divider {
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  column-gap: 6px;

                  .autoWrapper {
                    position: relative;
                    flex-shrink: 0;
                    width: 1px;
                    height: 10px;

                    .divider {
                      position: absolute;
                      top: 5px;
                      left: -5px;
                      background: #c6ced9;
                      width: 10px;
                      height: 1px;
                      rotate: 90deg;
                    }
                  }

                  .body2 {
                    flex-grow: 1;
                    line-height: 20px;
                    letter-spacing: 0;
                    color: var(--Grey-Grey-600, #808b9a);
                    font-family: "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                  }
                }
              }
            }
          }

          .sectionContainer {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 16px;

            .textContainer2 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 4px;

              .title3 {
                flex-shrink: 0;
                align-self: stretch;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--Primary, #1d2023);
                font-family: "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 600;
              }

              .body4 {
                flex-shrink: 0;
                align-self: stretch;
                width: 335px;
                line-height: 20px;
                letter-spacing: 0;
                color: var(--Secondary, #626c77);
                font-family: "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
              }
            }

            .infoContainer {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: center;
              row-gap: 8px;

              .text4 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                column-gap: 2px;

                .body5 {
                  flex-grow: 1;
                  line-height: 20px;
                  letter-spacing: 0;
                  color: var(--Grey-Grey-700, #606873);
                  font-family: "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }

                .valueUnit {
                  flex-shrink: 0;
                  line-height: 20px;
                  letter-spacing: 0;
                  color: var(--Grey-Grey-800, #39434f);
                  font-family: "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: 600;
                }
              }

              .lineDivider {
                flex-shrink: 0;
                align-self: stretch;
                background: #eceff2;
                height: 1px;
              }
            }
          }

          .cardsContainer {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 20px;
            box-shadow: var(
              --shadow,
              0px 0px 16px 0px #00000014,
              0px 4px 16px 0px #00000014
            );
            background: var(--Primary, #ffffff);
            padding-top: 8px;
            padding-bottom: 8px;

            .cardHorizontalV2 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 10px;
              border-radius: 14px;
              padding: 10px 16px;
              overflow: hidden;

              .icon52X5224X24 {
                display: inline-flex;
                position: relative;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                .icon {
                  display: inline-flex;
                  position: absolute;
                  top: 14px;
                  left: 14px;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  z-index: 2;
                  width: 24px;
                  height: 24px;
                  overflow: hidden;
                }

                .bg {
                  flex-shrink: 0;
                  z-index: 1;
                  width: 52px;
                  height: 52px;
                }
              }

              .titleSubtitle {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: center;
                align-self: stretch;

                .text5 {
                  width: 184px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: var(--Text-Primary, #1d2023);
                  font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 17px;
                }

                .text6 {
                  margin: 1px 0px 0px;
                  width: 184px;
                  line-height: 20px;
                  letter-spacing: 0;
                  color: var(--Text-Secondary, #626c77);
                  font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }
              }

              .textUnitsFrame {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 16px;

                .lineDivider2 {
                  flex-shrink: 0;
                  align-self: stretch;
                  width: 1px;
                  height: 24px;
                }

                .details {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  column-gap: 4px;

                  .title4 {
                    flex-shrink: 0;
                    line-height: 24px;
                    letter-spacing: 0;
                    color: var(--Primary, #1d2023);
                    font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 17px;
                    font-weight: 700;
                  }

                  .body6 {
                    flex-shrink: 0;
                    line-height: 16px;
                    letter-spacing: 0;
                    color: var(--Secondary, #626c77);
                    font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }

      .buttonsContainer {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        border-radius: 26px;
        box-shadow: 0px -3px 8px 0px #494d5a1f;
        background: #fffffff7;
        width: 375px;
        height: 104px;
        row-gap: 2px;
        backdrop-filter: blur(2px);

        .bt {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          column-gap: 12px;
          padding: 24px 20px 0px;
          width: 375px;

          .button2 {
            display: inline-flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 16px;
            background: var(--Active, #007cff);
            padding: 8px 24px;
            height: 44px;
            overflow: hidden;

            .button {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0.12px;
              color: var(--Text-Icon-Light-High-Ephasis-On-Primary, #ffffff);
              font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }

        .homeIndicator2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          padding: 21px 97px 8px;
          row-gap: 10px;

          .homeIndicator {
            flex-shrink: 0;
            border-radius: 100px;
            background: #212134;
            width: 134px;
            height: 5px;
          }
        }
      }
    }
  }
}
