* {
  box-sizing: border-box;
}

.img {
  display: flex;
  align-items: center;
  border-radius: 44px;
  padding-right: 1px;
  width: 664px;
  height: 800px;
  overflow: hidden;

  .image6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    margin-left: -1px;
    padding: 42px 52px 42px 40px;
    background-image: url(../image/mj8br9e6-6le9b2e.png);
    background-position: -303px 0px;
    background-size: 180.52% 100%;
    background-repeat: no-repeat;

    .logo {
      display: inline-flex;
      align-items: center;
      align-self: stretch;
      column-gap: 4px;
      margin-right: 440px;

      .union {
        flex-shrink: 0;
        width: 44px;
        height: 44px;
      }

      .text {
        flex-shrink: 0;
        align-self: stretch;
        width: 84px;
        height: 44px;
      }
    }

    .text2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 480px;
      row-gap: 20px;

      .yourPetSWorldMadeSim {
        flex-shrink: 0;
        align-self: stretch;
        width: 572px;
        line-height: 58px;
        letter-spacing: -1.44px;
        color: #ffffff;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 48px;
      }

      .createAFreeAccountTo {
        flex-shrink: 0;
        opacity: 0.8;
        width: 529px;
        line-height: 28px;
        letter-spacing: -0.4px;
        color: #ffffff;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
    }
  }
}
